@charset "ISO-8859-1";

body, form, h1, h2 {
	text-align: center;
	background-color: gray;
	color: white;
	font-size: 200%;
}
input[type=submit]{
	width:20cm;
	height:2cm;
	font-size: 32px;
}
input[type=text]{
	font-size:26px;
}

th, td, table {
	margin-left: auto;
	margin-right: auto;
	border-spacing: 5px;
	border: 1px solid black;
	font-size: 32;
}